*

!.gitignore

!build
build/*

!build/build.armv7.debug
build/build.armv7.debug/*
!build/build.armv7.debug/Binaries
build/build.armv7.debug/Binaries/*
!build/build.armv7.debug/Binaries/libcpprest.zip

!build/build.armv7.release
build/build.armv7.release/*
!build/build.armv7.release/Binaries
build/build.armv7.release/Binaries/*
!build/build.armv7.release/Binaries/libcpprest.a

#!build/Boost-for-Android
#build/Boost-for-Android/*
#!build/Boost-for-Android/build
#build/Boost-for-Android/build/*
#!build/Boost-for-Android/build/lib
#build/Boost-for-Android/build/lib/*
#!build/Boost-for-Android/build/lib/libboost_atomic-clang-mt-d-1_55.a
