*

!.gitignore

!build
build/*

!build/build.armv7.debug
build/build.armv7.debug/*
!build/build.armv7.debug/Binaries
build/build.armv7.debug/Binaries/*
!build/build.armv7.debug/Binaries/libcpprest.zip

!build/build.armv7.release
build/build.armv7.release/*
!build/build.armv7.release/Binaries
build/build.armv7.release/Binaries/*
!build/build.armv7.release/Binaries/libcpprest.a
